{% extends "base.html"%}

{% block content %}
    <h1>Hi in test proxy project.</h1>
    <p class="lead">
        Insert in url address if website like:<br>
        <a href="/some_site.com">127.0.0.1:8000/some_site.com</a><br>
        or<br>
        <a href="/https://news.ycombinator.com/item?id=13713480">news.ycombinator.com</a><br>
        This program add ™ in page for any word with six letters.<br>
        Like this:<br>
        PDF consists of a common™ prefix™ (which contains the PDF header™, JPG stream™ descriptor and some JPG headers)
    </p>
{% endblock %}