<!DOCTYPE html>
<html>
    <body>
        <h3>Hi in test proxy project</h3>
        Insert in url address if website like: <a href="/some_site.com">127.0.0.1:8000/some_site.com</a><br>
        or <a href="/https://news.ycombinator.com/item?id=13713480">news.ycombinator.com</a><br>
        This program add ™ in page for any word with six letters.<br>
        Like this:<br>
        <a>
            PDF consists of a common™ prefix™ (which contains the PDF header™, JPG stream™ descriptor and some JPG headers)
        </a>
    </body>
</html>
</html>